
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++ BEAN CREATIVE STYLES +++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body {
	background-color:#0099cc;
	background-image:url(/sites/all/themes/alexrenew/images/background-white.gif);
	background-repeat:repeat-x;
	}

/* PRIMARY LAYOUT FRAMEWORK */
.outer-wrapper {width:100px;}
.inner-wrapper {max-width: 62.5em !important; margin-left:auto !important; margin-right:auto !important;}
main.l-main {background-color:#fff; max-width:none; margin:0; overflow:hidden; padding-top:30px; padding-bottom:40px;}
section.row.l-main-section {}
.l-messages {background:white; overflow: hidden;}
.l-messages .alert-box {margin:20px 0;}

/* HEADER STUFF */
@media (min-width: 980px) {
	.mobile-header {display:none;}
}
@media (max-width: 979px) {
	.desktop-header {display:none;}
}

header.l-header {
	background-image:url(/sites/all/themes/alexrenew/images/background-white-90.png); 
	background-color:transparent; 
	border-bottom:1px solid #c7c7c7;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
}
.desktop-header > .large-12 > .columns:nth-child(2)  {
	padding-left:0 !important; padding-right:0 !important;
}

#alexrenew-logo {max-width:116px; display:block;}
/* utility nav links bar */
.block-block-4 {float:right; font-size:12px; color:#777777; margin:0;}
.block-block-4 a {color:#777777;}
.block-block-4 a:hover {color:#666; text-decoration:underline;}

.utility-wrapper {float:right; overflow:hidden; padding-top:4px;}
.block-gtranslate {float:right; font-size:12px; color:#777777;}
.block-gtranslate select {font-size:11px; max-width:150px; background-color:#33B5E5; color:white;}
.block-utility-links {float:right; margin-right:10px;}


/* SEARCH FORM STUFF */
.block-search-form {display:none; clear:both; width:100%;} /* hide initially */
.block-search-form #edit-submit,
.block-search-form #edit-submit--2 {display: none;} /* hide submit button */
.header-search-button {display:block; float:right; width:23px; height:23px; background:url(/sites/all/themes/alexrenew/images/icon-search.png);}
#edit-search-block-form--2 {
	background:#0099CC; 
	color:white; 
	font-size:18px; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:8px;
	margin-top:20px;
	border:1px solid #0099CC; 
	  -webkit-transition: 0.5s ease-in-out all;
      -moz-transition: 0.5s ease-in-out all;
      -ms-transition: 0.5s ease-in-out all;
      -o-transition: 0.5s ease-in-out all;
      transition: 0.5s ease-in-out all;
	}
#edit-search-block-form--2:focus {
	background:#07b6f0; 
	border:1px solid #000;
	}	


/* BREADCRUMBS */
.breadcrumbs-bar {background-color:#eee; padding:12px 0; border-top:1px solid #e2e2e2;}
.breadcrumbs {
	margin:0;
	border-width:0;
	background-color:#eee;
	padding:0 0.9375em;
}
.breadcrumbs > * {
	text-transform: none;
}
.breadcrumbs > * a, 
.breadcrumbs > * span {
	text-transform: none;
}



/* LANDING PAGE HERO */
#header-hero-wrapper{background-size:cover;}
#header-hero-wrapper.landing {/*border-bottom:10px solid #00bcfb;*/}
.l-featured {min-height:320px; padding:20px 0}


/* MISC BODY STYLES */
ul.links .node-readmore {
	list-style:none;
	float:right;	
}

ul.links .node-readmore a {
	display:block;
	padding:4px 8px;
	background:#0099cc;
	color:white;
}

ul.links .node-readmore a:hover {
	background:#0080aa;
	color:white;
}
/* tables */
table {background:transparent; border-width:0;}
tbody {border-width:0;}

/* lists */
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
  list-style-image: url(/sites/all/themes/alexrenew/images/bullet-item-list-orange.png);
}
.item-list ul li {
  margin: 0 0 0.25em 1.5em; /* LTR */
  padding: 0;
}
aside .block .item-list ul li a {
  color:#3c3c3c;
  text-decoration:underline;
}
aside .block .item-list ul li a:hover,
aside .block .item-list ul li a:active {
  color:#000;
  text-decoration:none;
}

.more-link {  
	padding:.5em 0.9375em;
	margin-top:1em;
	font-size:12px;
	font-weight:bold;
	border-top:1px dashed #ccc;
	}

/* button over rides */
button, .button {
  /* border-style: solid; */
  border-width: 0px;
  background-color: #0099CB;
}


/* IMAGE CAPTIONS */
span.caption {display:block; width:100%; overflow:hidden; margin:0 0 2em 0;}
.main span.caption:nth-child(odd) {background:#33b5e5;}
.main span.caption:nth-child(even) {background:#ffae00;}
span.caption img {float:right; max-width:60%;}
span.caption p {float:left; width:40%; color:white; padding:6% 4%; line-height:1.3em; font-size:14px; margin:0;}
span.caption p b {display:inline-block; width:100%; font-size:28px; margin-bottom:.25em; font-weight:100; line-height:1.2em;}

.main h4 {
	margin-left:-15px; 
	padding-left:15px; 
	background:url(/sites/all/themes/alexrenew/images/icon-bullet-arrow-blue.png) no-repeat left center;
	}
	
/* TABLE OVER RIDES */

table {
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
}

table td {
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
}

table th {
  color:white !important;
  background:#0099CB;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
}

table tr.even, 
table tr.alt, 
table tr:nth-of-type(even) {
  background: #fff;
}

table tr.odd, 
table tr:nth-of-type(odd) {
  background: #f2f8ff;
}

tr.even, tr.odd {
  border-bottom: 0px solid #ccc;
  padding: 0.1em 0.6em;
}

.pinned table .head {height:auto !important;}
.pinned table tr.even,
.pinned table tr.odd
 {height:auto !important;}



/* SIDEBAR BLOCKS */
.sidebar .block {
	background:#eee;
	border:1px solid #dadada;
	margin-bottom:25px;
}

.sidebar .block .block-title {
	text-align:center;
	background:#777777;
	color:white;
	padding:5px 10px;
	font-size:21px;
	font-family: Roboto, Helvetica, Arial, Sans-serif;
	font-weight:100;
	margin:0 0 10px 0;
}

.sidebar .block .block-title + p img {
	margin-top:-10px; /* close gap at top */
}

.sidebar .block p:last-child {
	margin-bottom:0; /* close gap at bottom */
}




/* FOOTER SITEMAP */
.sitemap-block {
	left: 0;
	bottom:42px;
	position: absolute ;
	display:none;
	z-index:2000;
	overflow:hidden;
	padding:20px 0; 
	background:white; 
	border-top:4px solid #4d4d4d; 
}
.sitemap-wrapper {background:#4d4d4d; position:relative;}
.sitemap-button {background:#777777; color:white; display:block; padding:15px 25px; float:left; font-size:12px;}
.sitemap-button:hover {background:#8d8d8d; color:white;}

/* FOOTER */
.l-footer {padding:28px 0; background-color:#0099cc; border-width:0;}
.l-footer p {font-size:12px; color:white;}
.l-footer a {color:white; text-decoration:underline;}
.l-footer a:hover {color:white; text-decoration:none;}




/* LOGIN BOX */
/* login/logout toggle */

body.logged-in .block-block-15 .logged-out,
body.logged-in .block-block-14 .logged-out {display:none;}

body.not-logged-in .block-block-15 .logged-in,
body.not-logged-in .block-block-14 .logged-in {display:none;}

.block-block-15 .logout-wrapper {padding:10px; background-color:#555555;}
.block-block-15 .logout-wrapper .button {margin:10px 0;}
.block-block-15 .logged-in .button {background-color:#E65100; width:90%;}
.block-block-14 p {margin:0 0 .5em;}
.block-block-15 p {margin:0;}

/* all login blocks (#15), sitewide */
.block-block-15 .block-title {
	background-color:#E65100 !important;
	color:white !important;
	font-weight:100 !important;
	padding:7px 0;
	margin:0;
}
body.logged-in .block-block-15 .block-title {
	background-color:#555555 !important;
}

/* homepage login block over ride (#14) */
.block-block-14 .block-title {
	background-image:url(/sites/all/themes/alexrenew/images/background-orange-90.png);
	color:white;
	font-weight:100;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding:7px 0;
	margin:0;
}

.block-block-14 .block-title .icon,
.block-block-15 .block-title .icon {
	background-image:url(/sites/all/themes/alexrenew/images/icon-lock-white.png);
	background-repeat:no-repeat;
	display:inline-block;
	width:16px;
	height:19px;
	margin-left:22px;
}

.block-block-14 .block-body {
	background-image:url(/sites/all/themes/alexrenew/images/background-white-90.png);
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	border-top-bottom-radius: 7px;
	border-top-bottom-radius: 7px;
	padding:.5em 0 1em;
}

.block-block-14 .block-body a {color:#4d4d4d; padding-left:38px; background-repeat:no-repeat;}
.block-block-14 .block-body a:hover {text-decoration:underline; color:black;}
.block-block-14 .block-body a.pay-bill {background-image:url(/sites/all/themes/alexrenew/images/icon-mail-gray.png);}
.block-block-14 .block-body a.view-usage {background-image:url(/sites/all/themes/alexrenew/images/icon-water-gray.png);}

a.button.login {
	color:#fff;
	padding:10px 40px;
	text-align:center;
	text-decoration:none;
	border-width:0;
	text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
	-webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
	/* background gradient... */
	background: #ffc833; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxOSUiIHN0b3AtY29sb3I9IiNmZmM4MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmY4ODAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  #ffc833 19%, #ff8800 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(19%,#ffc833), color-stop(100%,#ff8800)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc833 19%,#ff8800 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc833 19%,#ff8800 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc833 19%,#ff8800 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc833 19%,#ff8800 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc833', endColorstr='#ff8800',GradientType=0 ); /* IE6-8 */
}

a.button.login:hover,
a.button.login:active, {
	text-decoration:none;
	background: #ff8800; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmODgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmM4MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ff8800 0%, #ffc833 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8800), color-stop(100%,#ffc833)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff8800 0%,#ffc833 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff8800 0%,#ffc833 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff8800 0%,#ffc833 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff8800 0%,#ffc833 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8800', endColorstr='#ffc833',GradientType=0 ); /* IE6-8 */
}




/* MY ACCOUNT PAGE */
.block-ar-customer-status-and-history {line-height:1.2em; font-size:.9em; padding-bottom:40px; overflow:hidden;}
.block-ar-customer-status-and-history .ar_subhead {
	margin-top:30px; 
	margin-bottom:10px; 
	font-weight:bold; 
	font-size:1.2em; 
	font-family: Roboto, Helvetica, Arial, sans-serif; 
	border-top:2px solid #48B4DA;
	padding-top:20px;
	clear:both;
	}
.block-ar-customer-status-and-history .ar_label {float:left; font-weight:bold; margin-right:6px; margin-bottom:8px; clear:both; min-width:140px;}
.block-ar-customer-status-and-history .ar_label:after {content:":";}
.block-ar-customer-status-and-history .ar_data {margin-bottom:8px; float:left;}
/*
.block-ar-customer-status-and-history .ar_label:nth-child(odd) {background:#f4f4f4;}
.block-ar-customer-status-and-history .ar_data:nth-child(even) {background:#f4f4f4;}
*/
.block-ar-customer-status-and-history .ar_usagehistorydata {}

/* payment options block */
.block-block-16 {margin-top:60px; padding-top:30px; font-size:.9em; border-top:2px solid #48B4DA; clear:both;}

	
/* HOMEPAGE OVER RIDES */
body.front main.l-main {background-color:#eeeeee; padding-top:0; padding-bottom:0; }
#home-header-feature-wrapper{
	background-image:url(/sites/all/themes/alexrenew/images/home-feature-high.jpg);
	background-size:cover;
	border-bottom:10px solid #00bcfb;
}
body.front .l-featured {padding:50px 0;}

body.front .l-main-section {
	padding:30px 0 60px;	
}
body.front .l-main-section article {
	background:white;
	border:1px solid #dadada;
	padding:30px 20px;
	overflow:hidden;
}

body.front .l-main-section article {
	background:white;
	border:1px solid #dadada;
	padding:30px 20px;
	overflow:hidden;
}






/* sidebar social news thing */
.ui-widget-content {border: 0px solid #aaa;}
.ui-widget-content a {color:#2ba6cb;}
.ui-tabs {padding:0;}
.ui-tabs .ui-tabs-nav {margin:0; padding:0;}
.ui-widget-header {border: 0px solid #aaa; background: #dadada;}
.ui-corner-all {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.ui-tabs .ui-tabs-nav li {width: 33%; margin:0; text-align:center; min-height:100px;}
.ui-tabs .ui-tabs-nav li a {
	float: none; 
	width:80px;
	height:80px;
	display:block;
	margin:10px auto 0 auto;
	text-align:center;
	font-size:12px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	}

.ui-widget-header .ui-state-default {
	border: 0px solid #d3d3d3;
	background: none !important;
}

.ui-widget-header .ui-state-default a {
	background: #fff !important;
}

.ui-widget-header .ui-state-active a {
	background: #0099cc !important;
	color:#fff;
}

.ui-tabs .ui-tabs-panel {padding: 0;}
.ui-tabs-panel section {
	background:#fff !important;
	border: 0px solid #dadada !important;
	margin-bottom: 0 !important;
}
.ui-tabs-panel section p {
	font-size:.8em;
}
.ui-tabs-panel section .views-row {border-bottom:1px solid #dadada;	padding:5px 10px;}
.ui-tabs-panel section .views-row:last-child {border-bottom:0px solid #dadada;}




/* FLEX SLIDER OVER RIDES */
.flexslider {
margin: 0 0 20px;
background: #ffffff;
border: 1px solid #000;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: '' 0 0 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow: '' 0 0 0 rgba(0, 0, 0, 0.2);
-o-box-shadow: '' 0 0 0 rgba(0, 0, 0, 0.2);
box-shadow: '' 0 0 0 rgba(0, 0, 0, 0.2);
}
.flex-control-paging {display:none;}
.flexslider-caption-wrapper {
	background:url(/sites/all/themes/alexrenew/images/background-blue-90.png);
	padding:10px 20px;
	color:white;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	border-top:1px solid white;
	line-height:1.1em;
	pointer-events:none;
}
.flexslider-caption-title {font-weight:bold; text-transform:uppercase; font-size:14px;}
.flexslider-caption-text {font-size:14px;}




/* ALERT/INFORMATION BOX */
.block-block-8 {color:white !important; padding-top:10px; line-height:1.2em;}
.block-block-8 h2 {color:white !important; margin:0;}














/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MOBILE OVER RIDES */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media (max-width: 979px) {
	#edit-search-block-form--2 {font-size:16px;}
	#alexrenew-logo {max-width:116px; margin:0 auto;}
	
	/* IMAGE CAPTIONS */
	span.caption {display:block; width:100%; overflow:hidden; margin:0 0 2em 0;}
	.main span.caption:nth-child(odd) {background:#33b5e5;}
	.main span.caption:nth-child(even) {background:#ffae00;}
	span.caption img {float:none; max-width:100%; width:auto;}
	span.caption p {float:none; width:100%; padding:4%;}
}