/* TB MEGA MENU OVER RIDES */
.tb-megamenu {
  background-color: transparent;
}

#tb-megamenu-main-menu {
	position: absolute;
	top: 3px;
	left: 0;
	width:100%;
	/*background:yellow;*/
}

/* primary link buttons */

@media (min-width: 980px) {
	.tb-megamenu .nav {}
	
	.tb-megamenu .nav > li {
	  text-align:center;
	  /*background:pink;*/
	  margin-right:7px;
	}
	
	/* SET INDIVIDUAL MENU BUTTON WIDTHS */
	.tb-megamenu .nav > li:nth-child(1) {max-width:140px;} /* customers */
	.tb-megamenu .nav > li:nth-child(1) > a {color:#ff8533; padding-top:25px; padding-bottom:15px;} /* customers */
	.tb-megamenu .nav > li:nth-child(2) {max-width:100px;} /* about */
	.tb-megamenu .nav > li:nth-child(3) {max-width:140px;} /* helping */
	.tb-megamenu .nav > li:nth-child(4) {max-width:180px;} /* water */
	.tb-megamenu .nav > li:nth-child(5) {max-width:80px;} /* learn */
	.tb-megamenu .nav > li:nth-child(6) {min-width:100px; /*padding-top:.7em;*/} /* newsroom */
	.tb-megamenu .nav > li:nth-child(6) > a { padding-top:25px; padding-bottom:15px;} /* newsroom */
	
	.tb-megamenu .nav > li > a {
	  border-right: 0px solid #4dc6f3;
	  color: #0099cc;
	  font-weight:100;
	  font-size:14px;
	  padding: 15px 5px;
	  min-height:74px;
	}
	.tb-megamenu .nav > li > a:hover {
		background-color: #009bd4;  
		color: #fff;
	}
	
	.tb-megamenu .nav li.dropdown > .dropdown-toggle .caret {display:none;}
	

	
	.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
	.tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
	.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
		background-color: #009bd4 !important;  
		color: #fff;
	}
	
	.tb-megamenu .nav li.dropdown.active > .dropdown-toggle a,
	.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle a {
	  color: #fff !important;
	}	
	
	.tb-megamenu .nav > li.dropdown.open.active > a:hover,
	.tb-megamenu .nav > li.dropdown.open.active > a:focus {
	}
	
	.tb-megamenu .nav > li > a:focus, 
	.tb-megamenu .nav > li > a:hover {
	}
	/*
	.tb-megamenu .nav > .active > a,
	.tb-megamenu .nav > .active > a:hover,
	.tb-megamenu .nav > .active > a:focus {
	  text-shadow: none;
	  background-color: #009bd4;
	  background-image: none;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  outline: none;
	}
	*/
	
	.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
	}
	
	
	
	
	
	
	
	/* DROP DOWN MENU PANELS */
	.tb-megamenu .dropdown-menu {
	  text-align:left;
	  background-color:#0099cc;
	  color:white;
	  border-bottom-width:0px;
	  }
	
	/* specific sub menu over-rides */
	.dropdown-menu.customers-menu {margin-left:-150px;}
	.dropdown-menu.customers-menu .helpful {background:#4d4d4d;}
	.dropdown-menu.customers-menu td {color:white;}

	.tb-megamenu .dropdown-menu .block-title {
		color:white;
		padding:5px 10px;
		font-size:18px;
		text-transform:none;
	}
	
	.tb-megamenu .mega-nav .mega-group > .mega-group-title, .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title, .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
		  font-size:18px;
		  text-transform:none;
		  font-family: Roboto, Helvetica, Arial, sans-serif;
		  font-weight: bold;
		  font-style: normal;
		  text-rendering: optimizeLegibility;
		}
	
	.tb-megamenu .dropdown-menu li > a {
	  color: white;
	  font-size:18px;
	  border-top: 0px solid #eee;
	  border-bottom: 1px solid #fff;
	  padding:5px 0 5px 10px !important;
	}
	
	.tb-megamenu .dropdown-menu li li > a {
	  color: white;
	  font-size:14px;
	  border-bottom: 0px solid #fff;
	  padding:0 !important;
	}
	
	.tb-megamenu .dropdown-menu .mega-nav {
		margin-bottom:20px;	
	}
		
	.tb-megamenu .dropdown-menu li > a:hover, 
	.tb-megamenu .dropdown-menu li > a:focus, 
	.tb-megamenu .dropdown-submenu:hover > a {
	  color: #c3f0ff;
	}
	

	
	.tb-megamenu .block-view-demo .views-field-field-image img {
	  border: 1px solid #eee;
	}
	
	.tb-megamenu .block-view-demo .item-list ul li {
	}
}

@media (max-width: 979px) {
	
	#tb-megamenu-main-menu {
		position: absolute;
		top: -7px;
		left: 10px;
		width:96%;
		/*background:yellow;*/
	}
	
	.tb-megamenu-button {
		border-width:0 !important; 
		background-color:transparent !important;
		background-image:url(/sites/all/themes/alexrenew/images/mobile-menu.svg) !important;
		background-size: cover !important;
		background-position:center !important;
		}
	.tb-megamenu [class^="icon-"], .tb-megamenu [class*=" icon-"] {display: none;}	
	.tb-megamenu {background-color: transparent !important;}
	.tb-megamenu .nav-collapse .nav > li > a:hover,
	.tb-megamenu .nav-collapse .nav > li > a:focus {    
		color: #00aeee;
	  }
	.tb-megamenu .nav-collapse .nav > li.active > a:hover, 
	.tb-megamenu .nav-collapse .nav > li.active > a:focus {
	  background-color: #00aeee;
	  color: #fff;
	}
	
	#mobile-search-button {position:absolute; right:15px; top:50px; z-index:1000;}
	#mobile-nav-button {position:absolute; left:0; top:50px; width:100%; padding:0 15px; z-index:1000;}
	
}