/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++ BEAN CREATIVE STYLES +++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* line 6, ../../scss/theme/alexrenew.scss */
body {
  background-color: #0099cc;
  background-image: url(/sites/all/themes/alexrenew/images/background-white.gif);
  background-repeat: repeat-x;
}

/* PRIMARY LAYOUT FRAMEWORK */
/* line 13, ../../scss/theme/alexrenew.scss */
.outer-wrapper {
  width: 100px;
}

/* line 14, ../../scss/theme/alexrenew.scss */
.inner-wrapper {
  max-width: 62.5em !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 15, ../../scss/theme/alexrenew.scss */
main.l-main {
  background-color: #fff;
  max-width: none;
  margin: 0;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 40px;
}

/* line 17, ../../scss/theme/alexrenew.scss */
.l-messages {
  background: white;
  overflow: hidden;
}

/* line 18, ../../scss/theme/alexrenew.scss */
.l-messages .alert-box {
  margin: 20px 0;
}

/* HEADER STUFF */
@media (min-width: 980px) {
  /* line 22, ../../scss/theme/alexrenew.scss */
  .mobile-header {
    display: none;
  }
}
@media (max-width: 979px) {
  /* line 25, ../../scss/theme/alexrenew.scss */
  .desktop-header {
    display: none;
  }
}
/* line 28, ../../scss/theme/alexrenew.scss */
header.l-header {
  background-image: url(/sites/all/themes/alexrenew/images/background-white-90.png);
  background-color: transparent;
  border-bottom: 1px solid #c7c7c7;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

/* line 36, ../../scss/theme/alexrenew.scss */
.desktop-header > .large-12 > .columns:nth-child(2) {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 40, ../../scss/theme/alexrenew.scss */
#alexrenew-logo {
  max-width: 116px;
  display: block;
}

/* utility nav links bar */
/* line 42, ../../scss/theme/alexrenew.scss */
.block-block-4 {
  float: right;
  font-size: 12px;
  color: #777777;
  margin: 0;
}

/* line 43, ../../scss/theme/alexrenew.scss */
.block-block-4 a {
  color: #777777;
}

/* line 44, ../../scss/theme/alexrenew.scss */
.block-block-4 a:hover {
  color: #666;
  text-decoration: underline;
}

/* line 46, ../../scss/theme/alexrenew.scss */
.utility-wrapper {
  float: right;
  overflow: hidden;
  padding-top: 4px;
}

/* line 47, ../../scss/theme/alexrenew.scss */
.block-gtranslate {
  float: right;
  font-size: 12px;
  color: #777777;
}

/* line 48, ../../scss/theme/alexrenew.scss */
.block-gtranslate select {
  font-size: 11px;
  max-width: 150px;
  background-color: #33B5E5;
  color: white;
}

/* line 49, ../../scss/theme/alexrenew.scss */
.block-utility-links {
  float: right;
  margin-right: 10px;
}

/* SEARCH FORM STUFF */
/* line 53, ../../scss/theme/alexrenew.scss */
.block-search-form {
  display: none;
  clear: both;
  width: 100%;
}

/* hide initially */
/* line 54, ../../scss/theme/alexrenew.scss */
.block-search-form #edit-submit,
.block-search-form #edit-submit--2 {
  display: none;
}

/* hide submit button */
/* line 56, ../../scss/theme/alexrenew.scss */
.header-search-button {
  display: block;
  float: right;
  width: 23px;
  height: 23px;
  background: url(/sites/all/themes/alexrenew/images/icon-search.png);
}

/* line 57, ../../scss/theme/alexrenew.scss */
#edit-search-block-form--2 {
  background: #0099CC;
  color: white;
  font-size: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 8px;
  margin-top: 20px;
  border: 1px solid #0099CC;
  -webkit-transition: 0.5s ease-in-out all;
  -moz-transition: 0.5s ease-in-out all;
  -ms-transition: 0.5s ease-in-out all;
  -o-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}

/* line 73, ../../scss/theme/alexrenew.scss */
#edit-search-block-form--2:focus {
  background: #07b6f0;
  border: 1px solid #000;
}

/* BREADCRUMBS */
/* line 80, ../../scss/theme/alexrenew.scss */
.breadcrumbs-bar {
  background-color: #eee;
  padding: 12px 0;
  border-top: 1px solid #e2e2e2;
}

/* line 81, ../../scss/theme/alexrenew.scss */
.breadcrumbs {
  margin: 0;
  border-width: 0;
  background-color: #eee;
  padding: 0 0.9375em;
}

/* line 87, ../../scss/theme/alexrenew.scss */
.breadcrumbs > * {
  text-transform: none;
}

/* line 90, ../../scss/theme/alexrenew.scss */
.breadcrumbs > * a,
.breadcrumbs > * span {
  text-transform: none;
}

/* LANDING PAGE HERO */
/* line 98, ../../scss/theme/alexrenew.scss */
#header-hero-wrapper {
  background-size: cover;
}

/* line 99, ../../scss/theme/alexrenew.scss */
#header-hero-wrapper.landing {
  /*border-bottom:10px solid #00bcfb;*/
}

/* line 100, ../../scss/theme/alexrenew.scss */
.l-featured {
  min-height: 320px;
  padding: 20px 0;
}

/* MISC BODY STYLES */
/* line 104, ../../scss/theme/alexrenew.scss */
ul.links .node-readmore {
  list-style: none;
  float: right;
}

/* line 109, ../../scss/theme/alexrenew.scss */
ul.links .node-readmore a {
  display: block;
  padding: 4px 8px;
  background: #0099cc;
  color: white;
}

/* line 116, ../../scss/theme/alexrenew.scss */
ul.links .node-readmore a:hover {
  background: #0080aa;
  color: white;
}

/* tables */
/* line 121, ../../scss/theme/alexrenew.scss */
table {
  background: transparent;
  border-width: 0;
}

/* line 122, ../../scss/theme/alexrenew.scss */
tbody {
  border-width: 0;
}

/* lists */
/* line 125, ../../scss/theme/alexrenew.scss */
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
  list-style-image: url(/sites/all/themes/alexrenew/images/bullet-item-list-orange.png);
}

/* line 130, ../../scss/theme/alexrenew.scss */
.item-list ul li {
  margin: 0 0 0.25em 1.5em;
  /* LTR */
  padding: 0;
}

/* line 134, ../../scss/theme/alexrenew.scss */
aside .block .item-list ul li a {
  color: #3c3c3c;
  text-decoration: underline;
}

/* line 138, ../../scss/theme/alexrenew.scss */
aside .block .item-list ul li a:hover,
aside .block .item-list ul li a:active {
  color: #000;
  text-decoration: none;
}

/* line 144, ../../scss/theme/alexrenew.scss */
.more-link {
  padding: .5em 0.9375em;
  margin-top: 1em;
  font-size: 12px;
  font-weight: bold;
  border-top: 1px dashed #ccc;
}

/* button over rides */
/* line 153, ../../scss/theme/alexrenew.scss */
button, .button {
  /* border-style: solid; */
  border-width: 0px;
  background-color: #0099CB;
}

/* IMAGE CAPTIONS */
/* line 161, ../../scss/theme/alexrenew.scss */
span.caption {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0 0 2em 0;
}

/* line 162, ../../scss/theme/alexrenew.scss */
.main span.caption:nth-child(odd) {
  background: #33b5e5;
}

/* line 163, ../../scss/theme/alexrenew.scss */
.main span.caption:nth-child(even) {
  background: #ffae00;
}

/* line 164, ../../scss/theme/alexrenew.scss */
span.caption img {
  float: right;
  max-width: 60%;
}

/* line 165, ../../scss/theme/alexrenew.scss */
span.caption p {
  float: left;
  width: 40%;
  color: white;
  padding: 6% 4%;
  line-height: 1.3em;
  font-size: 14px;
  margin: 0;
}

/* line 166, ../../scss/theme/alexrenew.scss */
span.caption p b {
  display: inline-block;
  width: 100%;
  font-size: 28px;
  margin-bottom: .25em;
  font-weight: 100;
  line-height: 1.2em;
}

/* line 168, ../../scss/theme/alexrenew.scss */
.main h4 {
  margin-left: -15px;
  padding-left: 15px;
  background: url(/sites/all/themes/alexrenew/images/icon-bullet-arrow-blue.png) no-repeat left center;
}

/* TABLE OVER RIDES */
/* line 176, ../../scss/theme/alexrenew.scss */
table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

/* line 181, ../../scss/theme/alexrenew.scss */
table td {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* line 186, ../../scss/theme/alexrenew.scss */
table th {
  color: white !important;
  background: #0099CB;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* line 193, ../../scss/theme/alexrenew.scss */
table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
  background: #fff;
}

/* line 199, ../../scss/theme/alexrenew.scss */
table tr.odd,
table tr:nth-of-type(odd) {
  background: #f2f8ff;
}

/* line 204, ../../scss/theme/alexrenew.scss */
tr.even, tr.odd {
  border-bottom: 0px solid #ccc;
  padding: 0.1em 0.6em;
}

/* line 209, ../../scss/theme/alexrenew.scss */
.pinned table .head {
  height: auto !important;
}

/* line 210, ../../scss/theme/alexrenew.scss */
.pinned table tr.even,
.pinned table tr.odd {
  height: auto !important;
}

/* SIDEBAR BLOCKS */
/* line 217, ../../scss/theme/alexrenew.scss */
.sidebar .block {
  background: #eee;
  border: 1px solid #dadada;
  margin-bottom: 25px;
}

/* line 223, ../../scss/theme/alexrenew.scss */
.sidebar .block .block-title {
  text-align: center;
  background: #777777;
  color: white;
  padding: 5px 10px;
  font-size: 21px;
  font-family: Roboto, Helvetica, Arial, Sans-serif;
  font-weight: 100;
  margin: 0 0 10px 0;
}

/* line 234, ../../scss/theme/alexrenew.scss */
.sidebar .block .block-title + p img {
  margin-top: -10px;
  /* close gap at top */
}

/* line 238, ../../scss/theme/alexrenew.scss */
.sidebar .block p:last-child {
  margin-bottom: 0;
  /* close gap at bottom */
}

/* FOOTER SITEMAP */
/* line 246, ../../scss/theme/alexrenew.scss */
.sitemap-block {
  left: 0;
  bottom: 42px;
  position: absolute;
  display: none;
  z-index: 2000;
  overflow: hidden;
  padding: 20px 0;
  background: white;
  border-top: 4px solid #4d4d4d;
}

/* line 257, ../../scss/theme/alexrenew.scss */
.sitemap-wrapper {
  background: #4d4d4d;
  position: relative;
}

/* line 258, ../../scss/theme/alexrenew.scss */
.sitemap-button {
  background: #777777;
  color: white;
  display: block;
  padding: 15px 25px;
  float: left;
  font-size: 12px;
}

/* line 259, ../../scss/theme/alexrenew.scss */
.sitemap-button:hover {
  background: #8d8d8d;
  color: white;
}

/* FOOTER */
/* line 262, ../../scss/theme/alexrenew.scss */
.l-footer {
  padding: 28px 0;
  background-color: #0099cc;
  border-width: 0;
}

/* line 263, ../../scss/theme/alexrenew.scss */
.l-footer p {
  font-size: 12px;
  color: white;
}

/* line 264, ../../scss/theme/alexrenew.scss */
.l-footer a {
  color: white;
  text-decoration: underline;
}

/* line 265, ../../scss/theme/alexrenew.scss */
.l-footer a:hover {
  color: white;
  text-decoration: none;
}

/* LOGIN BOX */
/* login/logout toggle */
/* line 273, ../../scss/theme/alexrenew.scss */
body.logged-in .block-block-15 .logged-out,
body.logged-in .block-block-14 .logged-out {
  display: none;
}

/* line 276, ../../scss/theme/alexrenew.scss */
body.not-logged-in .block-block-15 .logged-in,
body.not-logged-in .block-block-14 .logged-in {
  display: none;
}

/* line 279, ../../scss/theme/alexrenew.scss */
.block-block-15 .logout-wrapper {
  padding: 10px;
  background-color: #555555;
}

/* line 280, ../../scss/theme/alexrenew.scss */
.block-block-15 .logout-wrapper .button {
  margin: 10px 0;
}

/* line 281, ../../scss/theme/alexrenew.scss */
.block-block-15 .logged-in .button {
  background-color: #E65100;
  width: 90%;
}

/* line 282, ../../scss/theme/alexrenew.scss */
.block-block-14 p {
  margin: 0 0 .5em;
}

/* line 283, ../../scss/theme/alexrenew.scss */
.block-block-15 p {
  margin: 0;
}

/* all login blocks (#15), sitewide */
/* line 286, ../../scss/theme/alexrenew.scss */
.block-block-15 .block-title {
  background-color: #E65100 !important;
  color: white !important;
  font-weight: 100 !important;
  padding: 7px 0;
  margin: 0;
}

/* line 293, ../../scss/theme/alexrenew.scss */
body.logged-in .block-block-15 .block-title {
  background-color: #555555 !important;
}

/* homepage login block over ride (#14) */
/* line 298, ../../scss/theme/alexrenew.scss */
.block-block-14 .block-title {
  background-image: url(/sites/all/themes/alexrenew/images/background-orange-90.png);
  color: white;
  font-weight: 100;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 7px 0;
  margin: 0;
}

/* line 312, ../../scss/theme/alexrenew.scss */
.block-block-14 .block-title .icon,
.block-block-15 .block-title .icon {
  background-image: url(/sites/all/themes/alexrenew/images/icon-lock-white.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 19px;
  margin-left: 22px;
}

/* line 322, ../../scss/theme/alexrenew.scss */
.block-block-14 .block-body {
  background-image: url(/sites/all/themes/alexrenew/images/background-white-90.png);
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  border-top-bottom-radius: 7px;
  border-top-bottom-radius: 7px;
  padding: .5em 0 1em;
}

/* line 333, ../../scss/theme/alexrenew.scss */
.block-block-14 .block-body a {
  color: #4d4d4d;
  padding-left: 38px;
  background-repeat: no-repeat;
}

/* line 334, ../../scss/theme/alexrenew.scss */
.block-block-14 .block-body a:hover {
  text-decoration: underline;
  color: black;
}

/* line 335, ../../scss/theme/alexrenew.scss */
.block-block-14 .block-body a.pay-bill {
  background-image: url(/sites/all/themes/alexrenew/images/icon-mail-gray.png);
}

/* line 336, ../../scss/theme/alexrenew.scss */
.block-block-14 .block-body a.view-usage {
  background-image: url(/sites/all/themes/alexrenew/images/icon-water-gray.png);
}

/* line 338, ../../scss/theme/alexrenew.scss */
a.button.login {
  color: #fff;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  border-width: 0;
  text-shadow: 0px 1px 2px #969696;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
  /* background gradient... */
  background: #ffc833;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxOSUiIHN0b3AtY29sb3I9IiNmZmM4MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmY4ODAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, #ffc833 19%, #ff8800 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(19%, #ffc833), color-stop(100%, #ff8800));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffc833 19%, #ff8800 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffc833 19%, #ff8800 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffc833 19%, #ff8800 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffc833 19%, #ff8800 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc833', endColorstr='#ff8800',GradientType=0 );
  /* IE6-8 */
}

/* line 361, ../../scss/theme/alexrenew.scss */
a.button.login:hover,
a.button.login:active {
  text-decoration: none;
  background: #ff8800;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmODgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmM4MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ff8800 0%, #ffc833 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8800), color-stop(100%, #ffc833));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff8800 0%, #ffc833 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff8800 0%, #ffc833 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff8800 0%, #ffc833 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff8800 0%, #ffc833 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8800', endColorstr='#ffc833',GradientType=0 );
  /* IE6-8 */
}

/* MY ACCOUNT PAGE */
/* line 380, ../../scss/theme/alexrenew.scss */
.block-ar-customer-status-and-history {
  line-height: 1.2em;
  font-size: .9em;
  padding-bottom: 40px;
  overflow: hidden;
}

/* line 381, ../../scss/theme/alexrenew.scss */
.block-ar-customer-status-and-history .ar_subhead {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border-top: 2px solid #48B4DA;
  padding-top: 20px;
  clear: both;
}

/* line 391, ../../scss/theme/alexrenew.scss */
.block-ar-customer-status-and-history .ar_label {
  float: left;
  font-weight: bold;
  margin-right: 6px;
  margin-bottom: 8px;
  clear: both;
  min-width: 140px;
}

/* line 392, ../../scss/theme/alexrenew.scss */
.block-ar-customer-status-and-history .ar_label:after {
  content: ":";
}

/* line 393, ../../scss/theme/alexrenew.scss */
.block-ar-customer-status-and-history .ar_data {
  margin-bottom: 8px;
  float: left;
}

/*
.block-ar-customer-status-and-history .ar_label:nth-child(odd) {background:#f4f4f4;}
.block-ar-customer-status-and-history .ar_data:nth-child(even) {background:#f4f4f4;}
*/
/* payment options block */
/* line 401, ../../scss/theme/alexrenew.scss */
.block-block-16 {
  margin-top: 60px;
  padding-top: 30px;
  font-size: .9em;
  border-top: 2px solid #48B4DA;
  clear: both;
}

/* HOMEPAGE OVER RIDES */
/* line 405, ../../scss/theme/alexrenew.scss */
body.front main.l-main {
  background-color: #eeeeee;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 406, ../../scss/theme/alexrenew.scss */
#home-header-feature-wrapper {
  background-image: url(/sites/all/themes/alexrenew/images/home-feature-high.jpg);
  background-size: cover;
  border-bottom: 10px solid #00bcfb;
}

/* line 411, ../../scss/theme/alexrenew.scss */
body.front .l-featured {
  padding: 50px 0;
}

/* line 413, ../../scss/theme/alexrenew.scss */
body.front .l-main-section {
  padding: 30px 0 60px;
}

/* line 416, ../../scss/theme/alexrenew.scss */
body.front .l-main-section article {
  background: white;
  border: 1px solid #dadada;
  padding: 30px 20px;
  overflow: hidden;
}

/* line 423, ../../scss/theme/alexrenew.scss */
body.front .l-main-section article {
  background: white;
  border: 1px solid #dadada;
  padding: 30px 20px;
  overflow: hidden;
}

/* sidebar social news thing */
/* line 436, ../../scss/theme/alexrenew.scss */
.ui-widget-content {
  border: 0px solid #aaa;
}

/* line 437, ../../scss/theme/alexrenew.scss */
.ui-widget-content a {
  color: #2ba6cb;
}

/* line 438, ../../scss/theme/alexrenew.scss */
.ui-tabs {
  padding: 0;
}

/* line 439, ../../scss/theme/alexrenew.scss */
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: 0;
}

/* line 440, ../../scss/theme/alexrenew.scss */
.ui-widget-header {
  border: 0px solid #aaa;
  background: #dadada;
}

/* line 441, ../../scss/theme/alexrenew.scss */
.ui-corner-all {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/* line 446, ../../scss/theme/alexrenew.scss */
.ui-tabs .ui-tabs-nav li {
  width: 33%;
  margin: 0;
  text-align: center;
  min-height: 100px;
}

/* line 447, ../../scss/theme/alexrenew.scss */
.ui-tabs .ui-tabs-nav li a {
  float: none;
  width: 80px;
  height: 80px;
  display: block;
  margin: 10px auto 0 auto;
  text-align: center;
  font-size: 12px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

/* line 460, ../../scss/theme/alexrenew.scss */
.ui-widget-header .ui-state-default {
  border: 0px solid #d3d3d3;
  background: none !important;
}

/* line 465, ../../scss/theme/alexrenew.scss */
.ui-widget-header .ui-state-default a {
  background: #fff !important;
}

/* line 469, ../../scss/theme/alexrenew.scss */
.ui-widget-header .ui-state-active a {
  background: #0099cc !important;
  color: #fff;
}

/* line 474, ../../scss/theme/alexrenew.scss */
.ui-tabs .ui-tabs-panel {
  padding: 0;
}

/* line 475, ../../scss/theme/alexrenew.scss */
.ui-tabs-panel section {
  background: #fff !important;
  border: 0px solid #dadada !important;
  margin-bottom: 0 !important;
}

/* line 480, ../../scss/theme/alexrenew.scss */
.ui-tabs-panel section p {
  font-size: .8em;
}

/* line 483, ../../scss/theme/alexrenew.scss */
.ui-tabs-panel section .views-row {
  border-bottom: 1px solid #dadada;
  padding: 5px 10px;
}

/* line 484, ../../scss/theme/alexrenew.scss */
.ui-tabs-panel section .views-row:last-child {
  border-bottom: 0px solid #dadada;
}

/* FLEX SLIDER OVER RIDES */
/* line 490, ../../scss/theme/alexrenew.scss */
.flexslider {
  margin: 0 0 20px;
  background: #ffffff;
  border: 1px solid #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: "" 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 0 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 0 0 rgba(0, 0, 0, 0.2);
}

/* line 502, ../../scss/theme/alexrenew.scss */
.flex-control-paging {
  display: none;
}

/* line 503, ../../scss/theme/alexrenew.scss */
.flexslider-caption-wrapper {
  background: url(/sites/all/themes/alexrenew/images/background-blue-90.png);
  padding: 10px 20px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid white;
  line-height: 1.1em;
  pointer-events: none;
}

/* line 515, ../../scss/theme/alexrenew.scss */
.flexslider-caption-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

/* line 516, ../../scss/theme/alexrenew.scss */
.flexslider-caption-text {
  font-size: 14px;
}

/* ALERT/INFORMATION BOX */
/* line 522, ../../scss/theme/alexrenew.scss */
.block-block-8 {
  color: white !important;
  padding-top: 10px;
  line-height: 1.2em;
}

/* line 523, ../../scss/theme/alexrenew.scss */
.block-block-8 h2 {
  color: white !important;
  margin: 0;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MOBILE OVER RIDES */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width: 979px) {
  /* line 543, ../../scss/theme/alexrenew.scss */
  #edit-search-block-form--2 {
    font-size: 16px;
  }

  /* line 544, ../../scss/theme/alexrenew.scss */
  #alexrenew-logo {
    max-width: 116px;
    margin: 0 auto;
  }

  /* IMAGE CAPTIONS */
  /* line 547, ../../scss/theme/alexrenew.scss */
  span.caption {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0 0 2em 0;
  }

  /* line 548, ../../scss/theme/alexrenew.scss */
  .main span.caption:nth-child(odd) {
    background: #33b5e5;
  }

  /* line 549, ../../scss/theme/alexrenew.scss */
  .main span.caption:nth-child(even) {
    background: #ffae00;
  }

  /* line 550, ../../scss/theme/alexrenew.scss */
  span.caption img {
    float: none;
    max-width: 100%;
    width: auto;
  }

  /* line 551, ../../scss/theme/alexrenew.scss */
  span.caption p {
    float: none;
    width: 100%;
    padding: 4%;
  }
}
