/* TB MEGA MENU OVER RIDES */
/* line 2, ../../scss/theme/tbmegamenu.scss */
.tb-megamenu {
  background-color: transparent;
}

/* line 6, ../../scss/theme/tbmegamenu.scss */
#tb-megamenu-main-menu {
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  /*background:yellow;*/
}

/* primary link buttons */
@media (min-width: 980px) {
  /* line 19, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav > li {
    text-align: center;
    /*background:pink;*/
    margin-right: 7px;
  }

  /* SET INDIVIDUAL MENU BUTTON WIDTHS */
  /* line 26, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav > li:nth-child(1) {
    max-width: 140px;
  }

  /* customers */
  /* line 27, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav > li:nth-child(1) > a {
    color: #ff8533;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  /* customers */
  /* line 28, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav > li:nth-child(2) {
    max-width: 100px;
  }

  /* about */
  /* line 29, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav > li:nth-child(3) {
    max-width: 140px;
  }

  /* helping */
  /* line 30, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav > li:nth-child(4) {
    max-width: 180px;
  }

  /* water */
  /* line 31, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav > li:nth-child(5) {
    max-width: 80px;
  }

  /* learn */
  /* line 32, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav > li:nth-child(6) {
    min-width: 100px;
    /*padding-top:.7em;*/
  }

  /* newsroom */
  /* line 33, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav > li:nth-child(6) > a {
    padding-top: 25px;
    padding-bottom: 15px;
  }

  /* newsroom */
  /* line 35, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav > li > a {
    border-right: 0px solid #4dc6f3;
    color: #0099cc;
    font-weight: 100;
    font-size: 14px;
    padding: 15px 5px;
    min-height: 74px;
  }

  /* line 43, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav > li > a:hover {
    background-color: #009bd4;
    color: #fff;
  }

  /* line 48, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav li.dropdown > .dropdown-toggle .caret {
    display: none;
  }

  /* line 52, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
  .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #009bd4 !important;
    color: #fff;
  }

  /* line 59, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav li.dropdown.active > .dropdown-toggle a,
  .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle a {
    color: #fff !important;
  }

  /*
  .tb-megamenu .nav > .active > a,
  .tb-megamenu .nav > .active > a:hover,
  .tb-megamenu .nav > .active > a:focus {
    text-shadow: none;
    background-color: #009bd4;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
  */
  /* DROP DOWN MENU PANELS */
  /* line 95, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .dropdown-menu {
    text-align: left;
    background-color: #0099cc;
    color: white;
    border-bottom-width: 0px;
  }

  /* specific sub menu over-rides */
  /* line 103, ../../scss/theme/tbmegamenu.scss */
  .dropdown-menu.customers-menu {
    margin-left: -150px;
  }

  /* line 104, ../../scss/theme/tbmegamenu.scss */
  .dropdown-menu.customers-menu .helpful {
    background: #4d4d4d;
  }

  /* line 105, ../../scss/theme/tbmegamenu.scss */
  .dropdown-menu.customers-menu td {
    color: white;
  }

  /* line 107, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .dropdown-menu .block-title {
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    text-transform: none;
  }

  /* line 114, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .mega-nav .mega-group > .mega-group-title, .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title, .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
    font-size: 18px;
    text-transform: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-rendering: optimizeLegibility;
  }

  /* line 123, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .dropdown-menu li > a {
    color: white;
    font-size: 18px;
    border-top: 0px solid #eee;
    border-bottom: 1px solid #fff;
    padding: 5px 0 5px 10px !important;
  }

  /* line 131, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .dropdown-menu li li > a {
    color: white;
    font-size: 14px;
    border-bottom: 0px solid #fff;
    padding: 0 !important;
  }

  /* line 138, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .dropdown-menu .mega-nav {
    margin-bottom: 20px;
  }

  /* line 142, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .dropdown-menu li > a:hover,
  .tb-megamenu .dropdown-menu li > a:focus,
  .tb-megamenu .dropdown-submenu:hover > a {
    color: #c3f0ff;
  }

  /* line 150, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .block-view-demo .views-field-field-image img {
    border: 1px solid #eee;
  }
}
@media (max-width: 979px) {
  /* line 160, ../../scss/theme/tbmegamenu.scss */
  #tb-megamenu-main-menu {
    position: absolute;
    top: -7px;
    left: 10px;
    width: 96%;
    /*background:yellow;*/
  }

  /* line 168, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu-button {
    border-width: 0 !important;
    background-color: transparent !important;
    background-image: url(/sites/all/themes/alexrenew/images/mobile-menu.svg) !important;
    background-size: cover !important;
    background-position: center !important;
  }

  /* line 175, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu [class^="icon-"], .tb-megamenu [class*=" icon-"] {
    display: none;
  }

  /* line 176, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu {
    background-color: transparent !important;
  }

  /* line 177, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav-collapse .nav > li > a:hover,
  .tb-megamenu .nav-collapse .nav > li > a:focus {
    color: #00aeee;
  }

  /* line 181, ../../scss/theme/tbmegamenu.scss */
  .tb-megamenu .nav-collapse .nav > li.active > a:hover,
  .tb-megamenu .nav-collapse .nav > li.active > a:focus {
    background-color: #00aeee;
    color: #fff;
  }

  /* line 187, ../../scss/theme/tbmegamenu.scss */
  #mobile-search-button {
    position: absolute;
    right: 15px;
    top: 50px;
    z-index: 1000;
  }

  /* line 188, ../../scss/theme/tbmegamenu.scss */
  #mobile-nav-button {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 15px;
    z-index: 1000;
  }
}
